{% extends "base.html" %}
{% block content %}
{% if not customers %}
<a class="btn btn-primary" href="{% url 'customer_create' %}"><h1>Legen Sie Ihren ersten Kunden an</h1></a>
{% else %}
<h1>Kunden</h1>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'customer_create' %}">Kunden anlegen</a>
    </div>
    <div class="col">
        <input type="search" id="search" class="form-control" placeholder="Kunden suchen...">
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</a></th>
        <th>Email</th>
        <th>Telefon</th>
    </tr>
    </thead>
    <tbody>
    {% for c in customers %}
    <tr>
        <td>{{c.pk}}</td>
        <td><a href="{% url 'customer_detail' c.pk %}">{{c}}</a></td>
        <td><a href="mailto:{{ c.email }}">{{ c.email }}</a></td>
        <td><a href="tel:{{ c.phone }}">{{ c.phone }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
{% endif %}

<script>
    let search = document.querySelector("#search");
    if (search) {
        search.addEventListener("input", (e) => {
            console.log(search.value);
            let tbody = document.querySelector("table tbody");
            trs = tbody.querySelectorAll("tr");
            for (tr of trs) {
                let name = tr.children[1].textContent.toLowerCase();
                if (search.value && !name.includes(search.value.toLowerCase())) {
                    tr.style.display = "none";
                } else {
                    tr.style.display = "";

                }
            }
        });
    }
</script>
{% endblock content %}