{% extends "base.html" %}
{% block content %}
    <h1>Lieferungen</h1>

    <div class="accordion accordion-flush" id="accordionSupplyOrders">
        {% for d in deliveries %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ forloop.counter }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="collapse{{ forloop.counter }}">

                        <div class="container-fluid">
                            <div class="row w-100">
                                <div class="col">
                                    <strong>{{ d.vendor }}</strong><br>
                                    {{ d.vendor.postal }} {{ d.vendor.city }}<br>
                                    {{ d.vendor.street }} {{ d.vendor.street_no }}
                                </div>

                                <div class="col text-center">
                                    Liefernummer: {{ d.delivery_number }}<br>
                                    Artikel: {{ d.get_article_count }}<br>
                                    Wert: {{ d.get_total_value }} €
                                </div>

                                <div class="col text-end">
                                    Lieferdatum: {{ d.delivery_date }}<br>
                                    Eingelagert: {{ d.checked_in }}
                                </div>
                            </div>
                        </div>

                    </button>
                </h2>

                <div id="collapse{{ forloop.counter }}"
                     class="accordion-collapse mb-3 collapse {% if forloop.first %}show{% endif %}"
                     data-bs-parent="#accordionSupplyOrders">
                    <div class="accordion-body px-0 py-1">
                        <div class="card p-3{% if d.checked_in %} bg-light{% endif %}">

                            <table class="table {% if d.checked_in %}table-light{% endif %} table-hover">
                                <thead>
                                <tr>
                                    <th colspan="4">Artikel</th>
                                    <th>Preis</th>
                                    <th>Menge</th>
                                    <th>Gesamt</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for da in d.articles.all %}
                                    <tr>
                                        <td colspan="4">{{ da.article }}</td>
                                        <td>{{ da.price }} €</td>
                                        <td>{{ da.quantity }}</td>
                                        <td>{{ da.get_total_value }} €</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
