{% extends "base.html" %}
{% block content %}
    <h1>Bestellungen</h1>

    <div class="accordion accordion-flush" id="accordionSupplyOrders">
        {% for so in supply_orders %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ forloop.counter }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="collapse{{ forloop.counter }}">

                        <div class="container-fluid">
                            <div class="row w-100">
                                <!-- Vendor info -->
                                <div class="col">
                                    <strong>{{ so.vendor }}</strong><br>
                                    {{ so.vendor.postal }} {{ so.vendor.city }}<br>
                                    {{ so.vendor.street }} {{ so.vendor.street_no }}
                                </div>

                                <!-- Order info -->
                                <div class="col text-center">
                                    Bestellnummer: {{ so.pk }}<br>
                                    Artikel: {{ so.get_article_count }}<br>
                                    Wert: {{ so.get_total_value }} €
                                </div>

                                <!-- Dates / deliveries -->
                                <div class="col text-end">
                                    Erstellt: {{ so.created }}<br>
                                    Abgeschickt: {{ so.submitted }}
                                    {% if so.deliveries.all %}
                                        <div class="border my-1"></div>
                                        {% for d in so.deliveries.all %}
                                            Lieferung {{ d.delivery_number }} | {{ d.delivery_date }}<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </button>
                </h2>

                <div id="collapse{{ forloop.counter }}"
                     class="accordion-collapse mb-3 collapse {% if forloop.first %}show{% endif %}"
                     data-bs-parent="#accordionSupplyOrders">
                    <div class="accordion-body px-0 py-1">
                        <div class="card p-3{% if so.submitted %} bg-light{% endif %}">

                            <table class="table {% if so.submitted %}table-light{% endif %} table-hover">
                                <thead>
                                <tr>
                                    <th colspan="4">Artikel</th>
                                    <th>Preis</th>
                                    <th>Menge</th>
                                    <th>Gesamt</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for soa in so.positions.all %}
                                    <tr>
                                        <td colspan="4">{{ soa.article }}</td>
                                        <td>{{ soa.price }} €</td>
                                        <td>{{ soa.quantity }}</td>
                                        <td>{{ soa.get_total }} €</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
